PORT=4005
DATABASE_URL="postgresql"
NODE_ENV = "development"
PGHOST='neonhost'
PGDATABASE='neondatabase'
PGUSER='neondatabase_owner'
PGPASSWORD='*********'
JWT_SECERET="*********"
JWT_EXPIRES_IN='7h'
