PORT=4005
DATABASE_URL="postgresql"
NODE_ENV = "development"
PGHOST='neonhost'
PGDATABASE='neondatabase'
PGUSER='neondatabase_owner'
PGPASSWORD='*********'
PGSSLMODE='require'
PGCHANNELBINDING='require'